<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TLimsKech Market Place</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons" rel="stylesheet">
  <link href="./assets/css/styles.css" rel="stylesheet" type="text/css">
  <link href="./assets/themify/themify-icons.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/limitless.min.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/components.min.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/layout.min.css" rel="stylesheet" type="text/css">
  <link href="./assets/css/colors.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="./assets/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="./assets/slick/slick-theme.css"/>
<link rel="stylesheet" href="styles.db0dc3bc0a0e647aff0e.css"></head>
<body class="navbar-md-md-top">
  <prefix-root></prefix-root>

  <!-- Core JS files -->
  <script src="./assets/js/jquery.min.js"></script>
  <script src="./assets/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/js/uniform.min.js"></script>
  <script src="./assets/js/login.js"></script>

  <script src="./assets/js/app.js"></script>
  <script src="./assets/js/fancybox.min.js"></script>
  <script src="./assets/js/content_cards_content.js"></script>
  <!-- /core JS files -->

  <script src="./assets/slick/slick.js"></script>
  <!--<script src="//unpkg.com/slick-carousel@1.8.1/slick/slick.js"></script>-->
<script type="text/javascript" src="runtime.9c4ad8936936d9ba483c.js"></script><script type="text/javascript" src="polyfills.9d6088873d2a3c33ec93.js"></script><script type="text/javascript" src="scripts.27e65497e0acfce7a6ec.js"></script><script type="text/javascript" src="main.1fa37ea2e405721787ba.js"></script></body>
</html>
